<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{teacher-layout :: html(~{::title}, ~{::content})}">

<head>
    <title>LearnHub - Teacher Dashboard</title>
</head>

<body>
    <th:block th:fragment="content">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">

            <!-- Dashboard Header -->
            <div th:replace="teacher/include/dashboard-header"> Dashboard Header </div>

            <!-- Stats Overview (Mockup for aesthetics) -->
            <div th:replace="teacher/include/stats-overview">Stats Overview (Mockup for aesthetics)</div>

            <!-- Sessions list -->
            <div th:replace="teacher/include/session-list"> Sessions list </div>

        </div>
    </th:block>
</body>

</html>